@import "styles/_mixin.scss";
.introduce {
    display: flex;
    height: 500px;
    padding: 80px 0 60px 0;
    &-left {
        background: var(--color-theme) linear-gradient(to right bottom, var(--color-theme), rgb(0, 120, 242));
        flex: 5.8;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
    }
    &-image {
        @include image(100%, 100%);
    }
    &-right {
        flex: 4.2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }
    &-title {
        color: var(--color-theme-oppose);
        font-size: 1.6rem;
    }
    &-describe {
        line-height: 1.5;
        margin: 25px 0 50px 0;
        color: var(--text-color3);
        font-size: 1.4rem;
    }
    &-button {
        @include flex(center, center);
        height: 50px;
        width: 120px;
        border-radius: 8px;

        background-color: var(--color-theme-oppose);
        color: var(--color-theme);
        
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
    }

    @include mobile {
        display: block;
        height: auto;

        &-right {
            margin-left: 0;
            max-width: 80%;
            margin: 0 auto;
            margin-top: 20px;
        }

        &-describe {
            margin: 10px 0 20px 0;
        }
    }
}
