@import "styles/_mixin.scss";
@keyframes fadeInPopupAuth {
    from {
        top: 100%;
        opacity: 0.6;
    }
    to {
        top: 120%;
        opacity: 1;
    }
}

.auth {
    &-login {
        @include flex(center, center);
        height: 52px;
        padding: 0 20px;

        background-color: var(--primary-color);
        color: var(--white-color);

        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.04rem;
        font-weight: 500;
    }
    &-avatar {
        position: relative;
        height: 30px;
        width: 30px;
        margin-right: 18px;
    }

    &-avatar__image {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }

    @include mobile {
        &-avatar {
            position: relative;
            height: 30px;
            width: 30px;
            margin-right: 8px;
        }
    }
}
