@import "styles/_mixin.scss";
.footer {
    @include flex(none, center);
    padding: 20px 60px;
    background-color: var(--background-color3);
    letter-spacing: 0.05rem;
    font-family: var(--font-second);
    &-wrapper {
        max-width: 1200px;
        line-height: 1.8;
        padding: 20px 0 10px;

        color: var(--text-color2);

        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 0;
    }

    @include mobile {
        padding: 16px 20px;
        &-wrapper {
            text-align: justify;
        }
    }
}
